<!-- title -->
<section class="bg-linear-to-r from-primary-600 to-primary-400 text-white">

    <div class="container mx-auto px-6 py-10">

        <!-- Breadcrumb -->
        <div class="text-sm mb-6 text-primary-100 flex items-center gap-2">

            <a routerLink="/home" class="cursor-pointer hover:text-white">
                Home
            </a>

            <span>/</span>

            <span class="text-white font-medium">
                All Products
            </span>

        </div>


        <!-- Title Row -->
        <div class="flex items-center gap-4">

            <!-- Icon -->
            <div class="w-14 h-14 bg-white/20 rounded-xl flex items-center justify-center">

                <i class="fa-solid fa-shop text-2xl"></i>

            </div>


            <!-- Title + Subtitle -->
            <div>

                <h1 class="text-3xl font-semibold">
                    All Products
                </h1>

                <p class="text-primary-100 text-sm mt-1">
                    Explore our complete product collection
                </p>

            </div>

        </div>

    </div>

</section>

<!--Featured Produtcs-->
<section class="container mx-auto px-6 py-10">
    <div class="mb-6 text-sm text-gray-500">Showing {{productList().length}} products</div>
    <!--Products
        Loop on product card
        -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
        @for (prod of productList()| paginate: { id: 'productsPagination',
        itemsPerPage: pageSize(),
        currentPage: currentPage(),
        totalItems: total() }; track prod._id) {
        <app-product-card [product]="prod" [wishListDetails]="wishListDetails()"></app-product-card>
        }
    </div>

    <div class=" p-3 flex items-center justify-center rounded-xl mt-5">
        <pagination-controls class="my-pagination" id="productsPagination" (pageChange)="pageChanged($event)"
            previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</section>